@mixin v-fonts($family, $file-name, $format, $style: false, $weight: false) {
  @font-face {
    font-family: $family;
    src: url('/webfonts/#{$file-name}') format('#{$format}');
    @if $style {
      font-style: $style;
    }
    @if $weight {
      font-weight: $weight;
    }
  }
}

// @include v-fonts(Quattro VF, "iAWriterQuattroV.ttf", normal, truetype);
// @include v-fonts(Quattro VF, "iAWriterQuattroVi.ttf", italic, truetype);

@include v-fonts(
  Recursive,
  "recursive.woff2",
  woff2-variations,
  $weight: 300 900
);

$default-font: Recursive;
