/*

Custom syntax highlighting

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $backgroundColorAlt;
  color: rgba($mainColor, .6);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: mix($shadowColorAlt, $mainColor, 50%);
}

.hljs-template-tag {
  color: mix($shadowColor, $mainColor, 50%);
}

.hljs-number {
  color: mix($shadowColor, $mainColor, 40%);
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: mix($shadowColor, $mainColor, 40%);
}

.hljs-literal {
  color: mix($shadowColor, $mainColor, 40%);
}

.hljs-subst {
  color: mix($shadowColorAlt, $mainColor, 40%);
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: mix($shadowColor, $mainColor, 40%);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: mix($shadowColorAlt, $mainColor, 40%);
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: mix($shadowColorAlt, $mainColor, 30%);
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: rgba($mainColor, .4);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs mark {
  position: relative;
  font-weight: bold;
  font-variation-settings: "wght" $fontWeightBold;
  color: $shadowColor;
  background-color: transparent;

  * {
    color: inherit;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    width: calc(100% + .3rem);
    display: block;
    position: absolute;
    top: .05em;
    right: -0.15rem;
    bottom: .05em;
    left: -0.15rem;
    z-index: 0;
    background-color: $accentColor;
  }

  &.alt::before {
    background-color: $linkColor;
  }
}
